.container{
    background-color: aqua;
    border: 2px solid green;
    height: 50vh;
}

.box{
    background-color: red;
    height: 60px;
    width: 60px;
    transform: translateX(10vw) translateY(10vw);
    transition: all 4s  ease-in-out 1s;
}